<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<div class="header">
    <h1> Doctor Dashboard</h1>
</div>
<h1> Login </h1>

<form action="/login" method="POST" >
    <div>
        <label form="name"> Name </label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label form="password"> Password </label>
        <input type="text" id="password" name="password" required>
    </div>
    <div>
        <button type="submit"> Login  </button>
    </div>
</form>


<p id="message"></p>
<script>
    var msg = "<%= messages.error %>";
    console.log('Login message:' + msg)
    if (msg) document.getElementById("message").innerHTML = msg;
    else document.getElementById("message").innerHTML = '';
</script>
</body>
</html>